         <div class="form-group">
            <%= form_with model: [book, book_comment], local: false do |f| %>
              <%= f.text_area :comment, row: '5', class: "textbox" %>
              <%= f.submit "送信", class: "from_submit" %>
            <% end %>
          </div>